@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap");

// GENERAL
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Inter", sans-serif;
  color: #202020;
  background-color: #fafafa;
}

ul {
  margin: 0;
  padding: 0;
}

// VARIABLES
$generic-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
  rgba(0, 0, 0, 0.1) 0px 4px 11px;
$generic-border: 1px solid #f1f1f1;
$generic-bg: #2b89e2;

// MIXINS -------------------------------
@mixin box-overlay() {
  box-shadow: $generic-box-shadow;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 80px;
  border-radius: 3px;
}

//vertical align
@mixin va($va-align: center) {
  display: flex;
  align-items: center;

  @if $va-align != center {
    justify-content: left;
  } @else {
    justify-content: center;
  }
}

@mixin no-select {
  user-select: none;
}

@mixin btn($primary-color, $bg-hover-color: $generic-bg) {
  border: 1px solid $primary-color;
  border-radius: 3px;
  background-color: $primary-color;
  color: #fff !important;

  font-weight: bold;
  padding: 6px 12px 6px 12px;
  margin-right: 5px;
  margin-top: 10px;
  font-weight: bold;

  font-size: 13px !important;
  position: relative;
  display: inline-block;
  cursor: pointer;

  &:hover {
    background-color: $bg-hover-color;
  }
}

@mixin cancel() {
  color: #555;
  cursor: pointer;
  font-size: 14px;
  margin: 2px 5px;

  &:hover {
    color: black;
  }
}

@mixin transparent-button() {
  background-color: transparent;
  border: 0;
}

@mixin task() {
  list-style-type: none;
  display: flex;
  line-height: 18px;
  color: #333;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  list-style-type: none;
  border-bottom: 1px solid #f0f0f0;
  padding-left: 10px;
  cursor: pointer;

  &:hover {
    background-color: #f9f9f9;
  }
}

@mixin mq($from) {
  @media (max-width: $from) {
    @content;
  }
}

// ----- HEADER -----------
header {
  border-bottom: solid 1px #2080dab9;
  background-color: $generic-bg;
  transition: height 200ms ease-in;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  height: 44px;
  z-index: 400;
  position: fixed;
  top: 0;
  width: 100%;

  @include mq("900px") {
    padding: 0 10px;
  }

  nav {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 0px;
    row-gap: 0px;
    max-width: 922px;
    margin: auto;
    height: 44px;
  }

  p,
  li {
    color: white;
  }

  div {
    &.logo {
      padding-left: 8px;
      grid-area: 1/1;

      img {
        width: 120px;
      }
    }

    &.settings {
      grid-area: 1/2;
      text-align: right;

      ul {
        float: right;
      }

      li {
        @include va;

        list-style-type: none;
        cursor: pointer;
        width: 30px;
        height: 30px;
        text-align: center;
        vertical-align: middle;
        float: left;

        &:hover {
          border-radius: 3px;
          background-color: rgba(255, 255, 255, 0.2);
        }

        &.settings__add {
          margin-right: 15px;
          font-size: 30px;
        }
      }
    }
  }
}

// --------- SIDEBAR -------------------------------------------------------
.sidebar {
  @include no-select();
  width: 266px;
  height: calc(100vh);
  padding-top: 70px;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  border-right: $generic-border;
  background-color: #fafafa;

  @include mq("900px") {
    display: none;
  }

  li {
    padding-left: 10px;
    padding-right: 15px;

    &:hover .sidebar__project-delete {
      display: flex;
    }
  }

  &__project {
    cursor: pointer;
    padding: 7px;

    &-name {
      padding-left: 10px;
    }

    &-delete {
      margin-left: auto;
      display: none;

      svg {
        color: #cacaca;
      }

      svg:hover {
        font-weight: bold;
        color: black !important;
      }
    }

    &.active,
    &:hover {
      font-weight: bold;
      background-color: white;
    }

    &:nth-child(odd) {
      .sidebar__bullet {
        color: #6accbc;
      }
    }
    &:nth-child(even) {
      .sidebar__bullet {
        color: #fad003;
      }
    }
  }

  &__projects {
    padding-left: 3px;
  }

  &__project {
    @include va("left");
  }

  &__dot {
    margin-right: 10px;
    font-size: 30px;
  }

  &__middle {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    border-bottom: $generic-border;
    padding-left: 10px;
    cursor: pointer;

    span {
      color: #0000008a;
      margin-right: 10px;
      svg.hidden-projects {
        transform: rotate(-90deg);
      }
    }

    h2 {
      margin: 0;
      color: rgba($color: #333030, $alpha: 1);
      font-size: 15px;
      font-weight: bold;
      padding-bottom: 20px;
    }
  }

  &__generic {
    li {
      padding: 10px 0 10px 10px;
      list-style-type: none;
      color: rgba($color: #333030, $alpha: 1);
      display: flex;
      cursor: pointer;
      line-height: 1.5;

      span:first-of-type {
        margin-right: 10px;

        svg {
          width: 18px;
          height: 18px;
          color: #555;
        }
      }

      &.active,
      &:hover {
        font-weight: bold;
        background-color: white;
      }
    }
  }
}

// ------Delete confirmation ------------

.project-delete-modal {
  position: relative;

  &__inner {
    @include box-overlay();
    z-index: 99;
    width: 200px;
    padding: 10px;
    top: 10px;
    right: 0;

    background-color: white;
    p {
      margin: 10px 5px;
      line-height: normal;
      font-weight: normal;
    }

    button {
      @include btn(#ff0000, #fc5555);
    }

    span {
      @include cancel();
      font-weight: normal;

      &.active,
      &:hover {
        font-weight: bold;
      }
    }
  }
}

//------------- Content ----------------
.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  @media screen and (min-width: 1400px) {
    &__editor {
      width: 1370px;
    }
  }
  @media screen and (min-width: 1600px) {
    &__editor {
      width: 1570px;
    }
  }
  @media screen and (min-width: 1900px) {
    &__editor {
      width: 1870px;
    }
  }

  &__editor {
    margin: auto;
    display: flex;
    flex-direction: row;
  }
}

// ---------------- TaskDate

.task-date {
  @include box-overlay();
  width: 220px;
  right: 0;
  background-color: white;

  svg {
    fill: gray;
  }
}

//------- New Task -----
.add-new-task {
  margin-top: 5px;

  &__small {
    @include no-select();
    margin-bottom: 10px;

    &:hover {
      cursor: pointer;
      color: $generic-bg;
    }
  }

  &__default {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px 20px;
    position: relative;
  }

  &__input {
    width: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 0 10px;
    height: 30px;
  }

  &__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    &__project {
      cursor: pointer;
      color: gray;
      font-size: 20px;

      svg {
        display: block;
        margin: 0 auto;
      }
    }

    &__submit,
    &__cancel {
      // can't select it like the text
      @include no-select;

      &:hover {
        cursor: pointer;
      }
    }

    &__submit {
      @include btn($generic-bg);
      margin: 0;
    }
    &__cancel {
      @include cancel();
      flex-shrink: 3;
    }
  }

  &__plus {
    color: $generic-bg;
  }

  &__text {
    flex-grow: 2;
    font-size: 15px;
    margin-left: 15px;
  }
}

// ------ Project Dropdown
.project-dropdown {
  // top: 140px !important;
  @include box-overlay();
  // left: 300px;
  width: 50%;
  background-color: white;

  &__list li {
    @include task();
  }
}

// ------ New Project ---------
.add-new-project {
  padding-right: 25px;
  padding-left: 15px;
  margin-top: 25px;

  &__input {
    margin: 25px;
  }

  &__name {
    border: 1px solid;
    width: 100%;
    border-radius: 5px;
    height: 30px;
    padding: 10px;
  }

  &__submit {
    @include btn($generic-bg);
  }

  &__cancel {
    @include cancel();
  }

  &__text {
    display: inline-block;
    font-size: 15px;
    margin-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    &:hover {
      font-weight: bold;
      cursor: pointer;
    }
  }
}

// ------Tasks-----------
.tasks {
  flex-grow: 100;
  background-color: white;
  margin-left: 266px;
  border-right: $generic-border;
  min-height: calc(100vh);
  vertical-align: top;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 80px;
  padding-bottom: 84px;

  @include mq("900px") {
    margin-left: 0;
    width: auto;
  }

  h2 {
    display: flex;
    justify-content: center;
    font-weight: normal;
    margin: 0 30px 20px 0;

    @include mq("900px") {
      margin-left: 100px;
      justify-content: left;
    }
  }

  .add-task {
    margin: 20px 0;
  }

  &__list li {
    display: flex;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;
    line-height: 18px;
    border-bottom: 1px solid #f0f0f0;

    .checkbox-holder {
      margin-right: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      .checkbox {
        cursor: pointer;
        border-color: gray;
        height: 16px;
        width: 16px;
        color: black;
        display: block;
        border: 1px solid gray;
        border-radius: 16px;
      }
    }
  }
}
